.barchasi {

    main {
        width: 80%;
        height: 2050px;
        background-color:  #E5E5E5;;
        display: flex;
        flex-wrap: wrap;
       
        button {
            cursor: pointer;
        }

        .tepa {
            width: 100%;
            height: 55px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 35px;
            input {
                width: 495px;
                height: 46px;
                background-color: rgba(47, 159, 248, 0.04);
                border-radius: 4px;
                padding: 14px;
                border: 1px solid  rgb(47, 158, 248);
            }

            img {
                cursor: pointer;
            }
        }

        .oddiy_soz {
            width: 100%;
            height: 50px;
            display: flex;
            font-size: 20px;
            align-items: center;
            padding: 35px;

        }


        .chap_qism {
            width: 70%;
            height: 1900px;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
            padding: 0px 35px;
            .d1 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                justify-content: space-between;
                padding: 35px 0px;

                button {
                    border: none;
                    padding: 6px 17px;
                    border-radius: 20px;
                    background-color: #FFFFFF;
                }

                .kok {
                    background-color: #2F9FF8;
                }
            }

            .dd1 {
                width: 100%;
                height: 164px;
                display: flex;
                background-color: #FFFFFF;

                .i1 {
                    width: 70%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0px;
                    row-gap: 20px;
                    column-gap: 20px;

                    padding: 17px 23px;

                    .uzun {
                        font-size: 14px;
                    }

                    .qisqa {
                        font-size: 12px;
                    }

                    .qisqa2 {
                        font-size: 12px;
                        margin-right: 40px;
                    }

                    .bir {
                        font-size: 12px;
                        color:  #0768B5;                        ;
                    }

                }

                .i2 {
                    width: 30%;
                    height: 100%;
                    padding: 1px 14px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }
            }


            .dd3 {
                width: 48%;
                height: 191px;
                display: flex;
                padding: 17px 23px;
                flex-wrap: wrap;
                row-gap: 20px;
                column-gap: 10px;
                background-color: #FFFFFF;
            }

            .dd2 {
                width: 48%;
                height: 191px;
                display: flex;
                padding: 17px 23px;
                background-color: #FFFFFF;
                .i1{
                    width: 55%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 74px;
                    row-gap: 28px;

                    .uzun {
                        font-size: 14px;
                    }

                    .qisqa {
                        font-size: 12px;
                    }

                    .qisqa2 {
                        font-size: 12px;
                    }

                }

                .i2 {
                    width: 45%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 10px;
                    column-gap: 10px;
                    justify-content: flex-end;

                    p {
                        font-size: 12px;
                        color: #2F9FF8;

                    }



                }
            }


            .pastki-tepa {
                width: 100%;
                height: 320px;
                display: flex;
                flex-wrap: wrap;
                column-gap: 15px;
                
                .pat {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: flex-end;
                    gap: 15px;
                }

                .odam {
                    width: 18%;
                    height: 185px;
                    background-color: #FFFFFF;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;

                    p {
                        font-size: 14px;
                    }

                    button {
                        padding: 7px 32px;
                        background-color: #2F9FF8;
                        border: none;
                        border-radius: 5px;
                    }
                   
                }

            }


            .fudbol {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 410px;
                gap: 19px;
            }


            .button {
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                 
                button {
                    padding: 10px 21px;
                    border-radius: 5px;
                    border: none;
                    border: 0.2px solid #072D4B;
                }
            }


            .tugadi {
                width: 100%;
                height: 45px;
                display: flex;
                justify-content: space-between;

                nav ul {
                    display: flex;
                    gap: 40px;

                    li {
                        list-style: none;
                    }
                }
            }

            
        }


        .ong_qism {
            width: 30%;
            height: calc(100% - 150px);
            display: flex;
            flex-direction: column;
            gap: 20px;
            .quyosh{

                display: flex;
                flex-direction: column;
                background-color: #FFFFFF;
                width: 100%;
                height: 153px;
                padding: 15px;

                .d1 {
                    width: 100%;
                    height: 41px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .d2 {
                    width: 100%;
                    height: 71px;
                    display: flex;

                    .ong {
                        width: 70%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 3px;

                        img {
                            width: 50px;
                            height: 27px;
                        }
                    }

                    .chap {
                        width: 30%;
                        height: 100%;
                        background-color: #FFFFFF;
                        display: flex;
                        justify-content: flex-end;
                    }

                }

                .d3 {
                    width: 100%;
                    height: 41px;
                    display: flex;
                    align-items: center;
                    gap: 25px;
// 
// 
// 
// 
                    p {
                        font-size: 14px;
                    }
                }
            }

            .pat {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100px;
                background-color:  #FFFFFF;
                padding: 15px;

                .d1 {
                    width: 100%;
                    height: 30%;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                .d2 {
                    width: 50%;
                    height: 70%;
                    font-size: 12px;
                    display: flex;
                    align-items: center;

                }

                .d3 {
                    width: 50%;
                    height: 70%;
                    display: flex;
                    padding: 5px;
                    justify-content: center;
                    button {
                        padding: 10px 17px;
                        border: 1px solid blue;
                        color:  #2F9FF8;
                        background-color: #FFFFFF;
                        border-radius: 5px;
                        
                    }
                }
            }

            .hujjat {
                width: 100%;
                height: 351px;
                display: flex;
                background-color:  #FFFFFF;
                flex-direction: column;

                .tepaa{
                    width: 100%;
                    height: 11%;
                    justify-content: space-between;
                    display: flex;
                    padding: 10px 15px;
                    border-bottom: 1px solid black;
                nav {
                    display: flex;
                    gap: 15px;

                }

                
            }
            .pastt {
                width: 100%;
                height: 89%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                align-items: center;

            }


            
        }
        .email {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 164px;
            background-color:  #FFFFFF;
            padding: 19px 20px;
            justify-content: center;
            align-items: center;
            gap: 16px;

            input {
                width: 244px;
                height: 40px;
                padding: 10px 15px;
                border-radius: 5px;
                border: 0.1px solid #072D4B;
            }

            button {
                padding: 10px 52px;
                width: 244px;
                background-color: #2F9FF8;
                border: none;
                border-radius: 5px;
            }
        }
        }
    }
}